@model IEnumerable<StudentMIS.Models.Course>
@{
    ViewData["Title"]="Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentMIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudentMIS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StudentData" asp-action="Logout">LogOut</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <h2>Teacher Dashboard<h2>
            <br>
            <h3>Teacher Details</h3>
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Username</th>
                <th scope="col">Id</th>
                <!-- <th scope="col">CourseId</th> -->
                <th scope="col">Semester</th>
                <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">  @Html.DisplayTextFor(modelItem =>ViewData["username"]) </th>
                    <td> @Html.DisplayTextFor(modelItem => ViewData["id"])</td>
                    <!-- <td> @Html.DisplayTextFor(modelItem => ViewData["courseId"])</td> -->
                    <td> @Html.DisplayTextFor(modelItem => ViewData["semester"])</td>
                    <td> @Html.DisplayTextFor(modelItem => ViewData["year"])</td>
                </tr>
            
            </tbody>
            </table>
        </main>
    </div>
    <br><br>


    <div class="container ">
        <h3>Add Course</h3>
        <form method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="prn">CourseId</label>
                    <input type="text" class="form-control" name="courseId" id="courseId" style="width:50%" placeholder="Enter Course Id">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="name">Course Name</label>
                    <input type="text" name="title" class="form-control" id="title" style="width:50%" placeholder="Enter Course Title">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="department">Enter Department</label>
                    <input type="text" class="form-control" style="width:50%" name="department" id="department" placeholder="Enter Department">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="currentYear">Enter Credits</label>
                    <input type="text" class="form-control" id="credits" style="width:50%" name="credits" placeholder="Enter Credits">
                </div>
            </div>
        </div>
        <input type="submit" btn  btn-primary />
        </form>
    </div>
    <br><br>
    <div class="container">
    <h2>Course Details</h2>
     <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Course Id</th>
                <th scope="col">Course Title</th>
                <th scope="col">Department</th>
                <th scope="col">Credits</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                <th scope="row">  @Html.DisplayTextFor(modelItem => item.courseId) </th>
                    <td> @Html.DisplayTextFor(modelItem => item.title)</td>
                    <td> @Html.DisplayTextFor(modelItem => item.department)</td>
                    <td> @Html.DisplayTextFor(modelItem => item.credits)</td>
                </tr>
            }
            </tbody>
            </table>
        </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - StudentMIS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
